<!DOCTYPE html>
<html lang="en" ng-app="timeSheetApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!--bower:css-->
    <link rel="stylesheet" href="vendor/bootstrap-css/css/bootstrap.min.css" />
    <!--endbower-->

    <!--inject:css-->
    <link rel="stylesheet" href="vendor/bootstrap-css/css/bootstrap-theme.css">
    <!--endinject-->
</head>
<body ng-controller="TimeSheetController as vm">
<div class="panel panel-default" style="margin:20px;">
    <div class="panel-heading">TimeSheet App</div>
    <div class="panel-body">
        <form ng-submit="vm.addNewItem(vm.user,vm.task, vm.hours)">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="User" ng-model="vm.user" required>
                <input type="text" class="form-control" placeholder="Task" ng-model="vm.task" required>
                <input type="number" class="form-control" placeholder="Numer of Hours" ng-model="vm.hours" min="0"
                       required>
                <button class="btn btn-default">Add</button>
            </div>
        </form>
    </div>

    <table class="table table-hover" ng-show=" vm.getNumberOfRecords()>0">
        <thead>
        <tr>
            <td>User</td>
            <td>Tasks</td>
            <td>Total Hours</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in vm.records | orderBy:sortBy" ng-class="vm.warningLevel(item.hours);">
            <td>{{item.user}}</td>
            <td>
                <ol>
                    <li ng-repeat="task in item.tasks">{{task}}</li>
                </ol>
            </td>
            <td>{{item.hours}}</td>
        </tr>
        </tbody>
    </table>
    <div ng-show=" vm.getNumberOfRecords()>1">
        <div class="form-control">Sort the data by</div>
        <select ng-model="sortBy" class="form-control">
            <option value="user">Name</option>
            <option value="-hours">Number of Hours Desc</option>
            <option value="hours">Number of Hours Asc</option>
        </select>
    </div>
</div>
<!--bower:js-->
<script src="vendor/angular/angular.js"></script>
<!--endbower-->

<!--inject:js-->
<script src="app/app.module.js"></script>
<script src="app/timesheet.controller.js"></script>
<!--endinject-->

</body>
</html>